* {
	padding:0px;
	margin:0px;
}

body {
	background-color:white;
}

h1 {
	font-size:2em;
	text-align:center;
}

a {
	text-decoration:underline;
}

.sections {
	display:flex;
	justify-content:space-evenly;
}

.section1 {
	background-color:orange;
	width:25%;
	height:auto;
	padding:5px;
	margin-top:5%;
}

.section1 h2 {
	color:white;
	position:relative;
	text-align:center;
}

.section1 p {
	position:relative;
	text-align:center;
	padding:5px;
}

.section1 p a {
	text-decoration:none;
	color:white;
}

.section1 img {
	width:50px;
	height:auto;
	position:relative;
	margin-left:45%;
	padding:5px;
}

.section2 {
	background-color:yellow;
	width:25%;
	height:auto;
	padding:5px;
	margin-top:5%;
}
.section2 h2 {
	color:white;
	position:relative;
	text-align:center;
}

.section2 p {
	position:relative;
	text-align:center;
	padding:5px;
}

.section2 p a {
	text-decoration:none;
	color:white;
}

.section2 img {
	width:50px;
	height:auto;
	position:relative;
	margin-left:45%;
	padding:5px;
}